@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #040517;
    --white: #e5e5e5e7;
    --blue: rgb(32, 15, 86);
}

.content {
    margin-left: 385px;
}

.musics {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 78vw;
}

@media screen and (max-width: 1238px){
    .content {
        margin-left: 40px;
    }
    .musics {
        grid-template-columns: 500px auto;
    }
}

@media screen and (max-width: 850px){
    .musics {
        grid-template-columns: 100vw 0;
    }
}